
body{
    /* background-color: #ebc8b2; */
    /* background-color: #fdfbd4; */
    background-color: #fffee0;
    display: flex;
        justify-content: center;
    align-items: center;
    flex-direction: column;

}
p, li, .text{ 
  font-family : 'Lucida Console', monospace;
  font-size: 18px;
  color : #7f7f7f;

}
a:link{
    color:rgb(100, 8, 191);
}
a:visited{
    color:RED;
}
/*<h1 #The-title style="font-family: 'Arial',sans-serif;"> Data Privacy<h1/>*/
#dataImg{    
   max-width: 100%;
   height:auto ;
     position: relative;
     margin: auto;
    display: flex;
    justify-content: center;

}
#main{
    display:grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;

}
/* .firstColumn{
    border: 1px solid black;
}
.secondColumn{
    border: 1px solid black;
} */
.firstColumn, .secondColumn {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.firstColumn p, .secondColumn p {
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 0;
  display: flex;
  align-items: center;
}


* {box-sizing:border-box}
.cat-pics {
     max-width: 800px;
     position: relative;
     margin: auto;
}

.slide{
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

/* dropdown collapsed on phones */
.dropdown-content {
  display: block;
  padding: 8px 0;
}

/* Style the toggle button */
.dropdown-toggle , .sendStuff{
  width: fit-content;
  background: #e0e0e0;
  border: none;
  text-align: middle;
  font-size: 1.1rem;
  padding: 10px;
  cursor: pointer;
  font-family: 'Lucida Console', monospace;
  border-radius: 6px;
}

.toggleButton{
  width: fit-content;
  background: #e0e0e0;
  border: none;
  text-align: middle;
  font-size: 1.1rem;
  padding: 10px;
  cursor: pointer;
  font-family: 'Lucida Console', monospace;
  border-radius: 6px;
}

.dropdown-toggle {
  display: none;
}

/* dropdown will appear for tablet and phone screens */
@media screen and (max-width: 480px) {
  body {
    font-size: 50px;
    background-color: rgb(173, 180, 208);
    margin: 0;
}
  .dropdown-toggle {
    display: block; /* show the button on phones */
  }
  .dropdown-content {
    display: none !important; /* hidden by default on phones */
  }
  .dropdown.open .dropdown-content {
    display: block !important;
  }
}

/* Desktop ≥ 2000x (coherent code &  adding more features in the furture) */
@media screen and (max-width: 2000px) {
  body {
    font-size: 18px; 
    background-color: rgb(173, 180, 208);
    margin: 0;  
  }
}
